@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Agenda de contatos</h2>
    <a asp-controller="Contact" asp-action="Index" class="btn btn-success" role="button">Acessar</a>
</div>
